.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cursor{
  width: 20px;
  height: 20px;
  background-color:#fff ;
  position: fixed;
  border-radius: 50;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

import React from 'react';
import FullCalendar from @fullcalendar;
import dayGridPlugin from '@fullcalendar;
import /BookingCalendar.css';

function BookingCalendar() {
  return (
    <div className="booking-calendar-container">
      <FullCalendar
        plugins={[dayGridPlugin]}
        initialView="dayGridMonth"
        events={[
          // Array of events from backend
          { title: 'Room 1', start: '2024-05-01', end: '2024-05-03' },
          { title: 'Room 2', start: '2024-05-07', end: '2024-05-10' }
        ]}
      />
    </div>
  );
}

export default BookingCalendar;
